@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto_SemiCondensed-Regular.ttf);
}
body{
   margin: 0px;
   padding: 0px;
  height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
    

   
    

}

#calculator{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  border-radius: 15px;
  max-width: 500px;
  background-color: purple;
 

}

#display{
 width: 100%;
 padding: 20px;
 font-size: 3rem;
 text-align: left;
 border: none;
 color: white;
 background-color: rgba(6, 6, 6, 0.229);
 
}


#keys{
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
 }


button{
   font-size: 2rem;
   font-weight: bold;
   width: 50px;
   height: 50px; 
   color: black;
    border: none !important;
  

   
}
.operator-btn{
    background-color: rgb(14, 148, 132)!important;
}
.operator-btn:hover{
    background-color: hsl(188, 100%, 60%)!important;
}
.operator-btn:active{
    background-color: hsl(159, 100%, 70%)!important;
}
