@font-face {
    font-family: 'youngserif';
    src: url(./fonts/YoungSerif-Regular.ttf);
}
*{
    font-family: youngserif;
}
.navbar{
    background-color: #801F4F !important;
    height: 80px;
    font-family: youngserif;
}

.navbar-brand{
   font-size: 40px;

}

.btn-primary{
    background-color: #801F4F !important;
    border-color: #801F4F !important;
}

.swal2-actions{
    width : 90%;
}
.swal2-confirm{
    width: 100%;
    background-color: #801F4F !important;
    border-color: #801F4F !important;
}
@media only screen and (max-width: 500px) {
    .main{
        padding: 10px 4px !important;
    }
    
}