body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
   align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}
.counter-row{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
 

}
.box1{
    width: 100px;
    height: 100px;

    background-color: black;
    
}
.box3{
    width: 100px;
    height: 100px;
   margin: 80px;
    background-color:black;
    
    
}
.box2{
    width: 100px;
    height: 100px;
   
    background-color:black;
}
.box1, .box2, .box3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 7rem;
}
.button{
    
   
   margin-right:10px;
   
    

    padding: 20px 40px;
    font-size: 18px;
    background-color: black;
   
    
}
.button-row{
    align-items: center;
    margin-right: 157px;
}