 /* .box{
    border: 2px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    font-size: 60px; 
    text-align: center;
    justify-content: center;
    align-items: center;
    color: red;
    
 } */